*{
   margin:0;
   padding: 0;
   font-family: 'poppins', sans-serif;
   box-sizing: border-box;
}
 body{
      background: rgb(7, 7, 7);
 }

.card{
  
   width: 340px;
    height: 580px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
   margin: auto;
   margin-top: 32px;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
}
.search{
     margin-top: 30px;
}

#txt{
       border:0px;
       outline: 0px;
     width: 230px;
      height: 40px;
      border-radius: 20px;
      padding-left: 75px;
      font-size: medium;
     
}
#img{
     
    width: 11px;
    height: 13px;
}
button{ 
       width: 40px;
       height: 40px;
       margin-left: 5px;
     background-color: white;
     border-radius: 50px;
     border: 1px solid rgb(251, 251, 250);
}

.weather-icon{
     margin-top: 20px;
     width: 180px;
     height: 180px;
     padding: 0px;
}
#weathertype{
      font-size: larger;
      margin-bottom: 5px;
}
.city{
     font-size: x-large;
}
.temp{
     font-size: xx-large;
}
.details{
     margin-top: 40px;
}
#windimg{
     width: 40px;
     height: 40px;
     margin-left: 20px;
}
#humidimg{
    width: 40px;
    height: 40px;
    
}
#col1{
      display: inline-block;
      margin-left: 5px;
}
#col2{
     display: inline-block;
     margin-left: 5px;
}
#hd1{
     font-weight: bolder;
     font-size: larger;
         
}
#hd2{
     font-weight: bolder;
     font-size: large;
}
button:hover{
      cursor: pointer;    
}
button:active{
     transform: scale(1.08);
}









